body{
    background: #00fff7;
}

nav{
   background-color: yellow;
  padding: 20px;
  text-align: center;
}

h2{
  color: black;
  text-align: center;
}

p{
  font-size: 1.5rem;
  font-family: Helvetica, Arial, sans-serif;
  text-align-last: center;
  text-indent: 10px;
}

img{
	 border-radius: 8px;
	text-align: center;
}

.container {
  position: relative;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00ff80;
  color: white;
  text-align: center;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}